[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
bleach = "*"
blinker = "*"
docutils = "*"
feedgenerator = "*"
ghp-import = "*"
html5lib = "*"
pelican = "*"
python-dateutil = "*"
pytz = "*"
six = "*"
Jinja2 = "*"
Markdown = "*"
MarkupSafe = "*"
mdx_del_ins = "*"
mdx_linkify = "*"
Pygments = "*"
Unidecode = "*"
typogrify = "*"

[requires]
python_version = "3.7"
